{% include page_head.html %}

<!-- Banner -->
{% include section_slider.html %}

<!-- Button Bar -->
{% include section_button-bar.html %}

<!-- Main Content -->
<div class="container-fluid mt-5 static-landing">
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-5">
        {% picture thumb /img/static/2025_Fall_Fest.jpeg --img class="img-thumbnail" --link https://www.mussersr.org/weekend/fall-fest --alt "Cub Scout Fall Fest" %}
    </div>
    <div class="col-md-4 col-sm-6 mb-5">
        {% picture thumb /img/static/Field_Trips.png --img class="img-thumbnail" --link https://outdooradventurelab.org/field-trips/ --alt "Field Trips" %}
    </div>
  </div>
</div>
<!-- Footer -->
{% include page_footer.html %}
