{% include page_head.html %}

<!-- Main Content -->
<div class="container content mt-3">
  <div class="row">
    <div class="col mx-auto">
      <h1>{{page.title}}</h1>
      {% unless page.images %} {{content}} {% endunless %}
    </div>
  </div>
  {% if page.images %}
  <div class="row">
    <div class="col-md-8">
      {{content}}
    </div>
    <div class="col-md-4">
      {% for img in page.images %}
      {% picture thumb {{img}} --img class="img-fluid rounded mb-2" %}
      {% endfor%}
      {% if page.underimg %} {{page.underimg}} {% endif %}
    </div>
  </div>
  {% if page.bottom %}
  <div class="row">
    <div class="col mx-auto">
      {{page.bottom}}
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>

{% include page_footer.html %}
